/* Josefin Sans Regular */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/JosefinSans-Regular.ttf) format('truetype');
}

/* Roboto Thin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Roboto-Thin.ttf) format('truetype');
}
